<header class="header">
  <div class="container">
    <a href="/">
      <div class="logo"></div>
    </a>
    <ul class="header__menu">
      <li class="header__menu-item header__link"><a href="#summary">Summary</a></li>
      <li class="header__menu-item header__link"><a href="#examples">Examples</a></li>
      <li class="header__menu-item header__link"><a href="#specification">Specification</a></li>
      <li class="header__menu-item dropdown">
        <button class="dropdown__label">Languages</button>
        <ul class="dropdown__options">
          {{ range .Site.Home.AllTranslations }}
          <li class="dropdown__option"><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
      </li>
    </ul>
  </div>
</header>
